fastapi
uvicorn
transformers[torch]

# pyaudio need to be installed by apt on Debian.
# sudo apt-get install portaudio19-dev python-all-dev python3-all-dev && sudo pip3 install pyaudio
pyaudio
openai
openai-whisper
SpeechRecognition
qdrant-client
torch
phonemizer
inflect
unidecode
scipy
